In [2]:
import pandas as pd
data = pd.read_html('https://pl.wikipedia.org/wiki/Miasta_w_Polsce', header=0)
data

[    Lp.     Miasto         Województwo Liczba mieszkańców  \
 0   1.0   Warszawa         mazowieckie          1 861 975
 1   2.0     Kraków         małopolskie            803 282
 2   3.0    Wrocław        dolnośląskie            674 079
 3   4.0       Łódź             łódzkie            658 444
 4   5.0     Poznań       wielkopolskie            541 316
 5   6.0     Gdańsk           pomorskie            486 345
 6   7.0   Szczecin  zachodniopomorskie            391 566
 7   8.0     Lublin           lubelskie            331 243
 8   9.0  Bydgoszcz  kujawsko-pomorskie            330 038
 9  10.0  Białystok           podlaskie            292 600

   Gęstość zaludnienia [osoby/km²]
 0                           3 600
 1                           2 458
 2                           2 302
 3                           2 245
 4                           2 067
 5                             712
 6                           1 303
 7                           2 246
 8                           1 876
 9                           2 865  ,
     Lp.        Miasto         Województwo Powierzchnia [ha]
 0   1.0        Gdańsk           pomorskie            68 300
 1   2.0      Warszawa         mazowieckie            51 720
 2   3.0        Gdynia           pomorskie            39 151
 3   4.0        Kraków         małopolskie            32 685
 4   5.0      Szczecin  zachodniopomorskie            30 062
 5   6.0          Łódź             łódzkie            29 325
 6   7.0       Wrocław        dolnośląskie            29 281
 7   8.0  Zielona Góra            lubuskie            27 827
 8   9.0        Poznań       wielkopolskie            26 191
 9  10.0   Świnoujście  zachodniopomorskie            20 207,
             Województwo  Liczba miast (2024)[18]
 0          dolnośląskie                       93
 1    kujawsko-pomorskie                       56
 2             lubelskie                       54
 3              lubuskie                       44
 4               łódzkie                       60
 5           małopolskie                       64
 6           mazowieckie                      110
 7              opolskie                       37
 8          podkarpackie                       54
 9             podlaskie                       40
 10            pomorskie                       42
 11              śląskie                       74
 12       świętokrzyskie                       50
 13  warmińsko-mazurskie                       50
 14        wielkopolskie                      119
 15   zachodniopomorskie                       66,
                                        Historia  \
 0                                     Geografia
 1                     Prawo i ustrój polityczny
 2  Demografia, bezpieczeństwo i życie społeczne
 3                                       Kultura
 4                                    Gospodarka

   Kalendarium Stolica Władcy Historia kobiet w Polsce Prehistoria ziem polskich Historia Polski (do 1138) Polska w okresie rozbicia dzielnicowego (1138–1320) Historia Polski (1320–1386) Historia Polski (1386–1492) Historia Polski (1492–1572) Historia Polski (1572–1697) Historia Polski (1697–1763) Historia Polski (1764–1795) Pod zaborami (1795–1918) Polska w czasie I wojny światowej II Rzeczpospolita Polska w czasie II wojny światowej Polska Rzeczpospolita Ludowa Gospodarka Partie polityczne LWP III Rzeczpospolita
 0  Krainy historyczne Krainy geograficzne Mapy to...
 1  Podział administracyjny Konstytucja System pra...
 2  Demografia Polskie nazwiska Polacy Polonia Zwi...
 3  Architektura Polszczyzna Styl narodowy Sztuka ...
 4  Rolnictwo Przemysł Turystyka Transport Marynar...                                                                                                                                                                                                                                                                                                                                                                                                                                                                                    ,
   Albania Andora Austria Belgia Białoruś Bośnia i Hercegowina Bułgaria Chorwacja Czarnogóra Czechy Dania Estonia Finlandia Francja Grecja Hiszpania Holandia Irlandia Islandia Liechtenstein Litwa Luksemburg Łotwa Macedonia Północna Malta Mołdawia Monako Niemcy Norwegia Polska Portugalia Rosja Rumunia San Marino Serbia Słowacja Słowenia Szwajcaria Szwecja Turcja Ukraina Węgry Wielka Brytania Włochy  \
 0                    Państwa z ograniczonym uznaniem
 1                 Terytoria zależne i terytoria inne

   Albania Andora Austria Belgia Białoruś Bośnia i Hercegowina Bułgaria Chorwacja Czarnogóra Czechy Dania Estonia Finlandia Francja Grecja Hiszpania Holandia Irlandia Islandia Liechtenstein Litwa Luksemburg Łotwa Macedonia Północna Malta Mołdawia Monako Niemcy Norwegia Polska Portugalia Rosja Rumunia San Marino Serbia Słowacja Słowenia Szwajcaria Szwecja Turcja Ukraina Węgry Wielka Brytania Włochy.1
 0                                Kosowo Naddniestrze
 1  Gibraltar Guernsey Jersey Wyspa Man Wyspy Alan...                                                                                                                                                                                                                                                                                                                                                               ]

In [3]:
type(data)

list

In [4]:
data[0]

,Lp.,Miasto,Województwo,Liczba mieszkańców,Gęstość zaludnienia [osoby/km²]
0,1.0,Warszawa,mazowieckie,1 861 975,3 600
1,2.0,Kraków,małopolskie,803 282,2 458
2,3.0,Wrocław,dolnośląskie,674 079,2 302
3,4.0,Łódź,łódzkie,658 444,2 245
4,5.0,Poznań,wielkopolskie,541 316,2 067
5,6.0,Gdańsk,pomorskie,486 345,712
6,7.0,Szczecin,zachodniopomorskie,391 566,1 303
7,8.0,Lublin,lubelskie,331 243,2 246
8,9.0,Bydgoszcz,kujawsko-pomorskie,330 038,1 876
9,10.0,Białystok,podlaskie,292 600,2 865

In [5]:
data[1]

    Lp.        Miasto         Województwo Powierzchnia [ha]
0   1.0        Gdańsk           pomorskie            68 300
1   2.0      Warszawa         mazowieckie            51 720
2   3.0        Gdynia           pomorskie            39 151
3   4.0        Kraków         małopolskie            32 685
4   5.0      Szczecin  zachodniopomorskie            30 062
5   6.0          Łódź             łódzkie            29 325
6   7.0       Wrocław        dolnośląskie            29 281
7   8.0  Zielona Góra            lubuskie            27 827
8   9.0        Poznań       wielkopolskie            26 191
9  10.0   Świnoujście  zachodniopomorskie            20 207